<!-- <div class="mye-empty-state-topbar" *ngIf="!hideTopbar"></div>
<div class="mye-empty-state-container" [ngClass]="{'table-mode': tableMode}">
    <div class="default-image" *ngIf="!imageUrl"></div>
    <div class="custom-image-container" *ngIf="imageUrl">
        <img class="custom-image" [src]="imageUrl" />
    </div>
    <div class="title"><h4>{{title}}</h4></div>
    <div class="message"><p [innerHTML]="body"></p></div>
    <button *ngIf="action" (click)="emitAction()" class="add-keypair" ibmButton="primary" size="lg">
        {{action}}
    </button>
</div> -->
